page-presentation-room {
margin:3%;
    .user_name {
        color: #afafaf;
    }
   
    .presentation_row {
        background-color: #fff;
    }
    .ic
    {
    color:color($colors, primary);
    margin-left : 15%;
    zoom: 1.5;
    }
    #icons{
        padding-left:7%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right:5%;
        margin-left: 5%;
    }
    
}